.radioButtonContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 32px;
}

.radioButton {
  cursor: pointer;
  padding: 32px;
}

input[type="radio"]:checked + label {
  background-color: white;
  color: black;
}

input[type="radio"] {
  display: none;
}

.questionContainer {
  display: flex;
  flex-direction: column;
}
