header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.headerTopLevel {
  display: flex;
  justify-content: center;
}

.headerNavigation {
  display: flex;
  justify-content: space-around;
}
